/**
This is the main css file
**/
html, body {
	font-family: Poppins;
	/* USERS CANT SELECT TEXTS IN WEB */
	user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
	border: 0;
}

.text-custom {
	color: #0062ff;
}
.nav-link {
    font-size: 1rem;
    color: black;
    font-family: Poppins;
    /**-webkit-text-stroke: 0.3px black;**/
}

.nav-link:hover {
    color: black;
}

.navbar-logo {
    height:100%;
    width: 20vw;
}

.header-title {
    color: #16558f;
    font-weight: bold;
}

.btn-cust {
    font-weight: bold;
}

.nav-tabs {
  border-bottom: 0px solid transparent;
}
.nav-tabs .nav-link {
  border: 0px solid transparent;
}


/** preloader **/
.center {
    position: fixed; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto; 
}

.pageloader {
    background-color:transparent;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.loaderimage {
    height: auto;
	min-width: auto;
    max-width: 40vh;
}
/** preloader end **/

.c2a6 h1,
.c2a6 h2,
.c2a6 h3,
.c2a6 h4,
.c2a6 h5,
.c2a6 h6 {
  color: #3e4555;
}


.c2a6 .subtitle {
  color: #8d97ad;
  line-height: 24px;
}

.c2a6 .btn-md {
    padding: 15px 45px;
    font-size: 16px;
}

.card {
    display: inline-block
}

.product-card-margin {
    margin-top: 10px;
}

.brand-name {
    font-weight: bold;
}

.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}
